.footer {
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: solid 1px #e6e5e5;
  text-align: center;
  font-size: 1.25rem;
}

.footer,
.push {
  height: 75px;
}

.social-link {
  margin-bottom: 5px;
}

.fa-facebook-official {
  color: #3b5998;
}

.fa-twitter {
  color: #0084b4;
}

.col-sm-12 {
  text-align: center;
}

