.overview-text {
  text-align: center;
}

.header-logo {
  margin-top: 10px;
}

.home-header {
  text-align: center;
  font-size: 7.5rem;
  color: orange;
  margin-top: -10px;
}

.home-headerlight {
  text-align: center;
  font-size: 3.5rem;
  color: brown;
  margin-top: -30px;
}

.logo {
  width: 18rem;
  padding-bottom: 15px;
}

#clubUpdates {
  margin-bottom: 15px;
}

.header {
  font-weight: 600;
  font-size: 3rem;
}

.subHeader {
  margin-top: 15px;
}

.homeLabel {
  font-weight: 600;
  font-size: 1.8rem;
}

.updatestext {
  margin-top: 5px;
  font-size: 1.4rem;
}

