@import '_variables';

.footer {
    border-top: solid 1px $border-color;
    background-color: #EFEFEF;
    text-align: center;
    font-size: 1.3rem;
}

.footer-text {
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
}

.footer-links {
    padding-bottom: 5px;
}

.footer-companytext {
    
}

span {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

a {
    font-style: none;
}

#footer {
    margin-top: 10px;
    border-top: solid 1px #AEAEAE;
}

.fa-phone-square {
    color: grey;
}

.fa-envelope {
    color: grey;
}

.fa-phone-square:hover {
    color: grey;
}

.fa-envelope:hover {
    color: grey;
}

.fa-twitter-square {
    color: #0084b4;
}

.fa-twitter-square:hover {
    color: #0084b4;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

#location-footer {
    color: #3E963E;
}

#location-footer:hover {
    color: #3E963E;
}

