@import '_variables';

.footer {
    border-top: solid 1px $border-color;
    background-color: #EFEFEF;
    text-align: center;
    font-size: 1.25rem;
}

.col-sm-12 {
    text-align: center;
}

.footer-text {
    padding-bottom: 5px;
    font-size: 12px;
    color: black;
}

.footer-links {
    padding-bottom: 5px;
    font-size: 12px;
}

.footer-copyright {
   
}

.footer-companytext {
    font-size: 8px;
}