@import '_variables';

.overview-text {
    text-align: center;
    font-size: 1.75rem;
}

.header-logo {
    margin-top: 10px;
}

.home-header {
    text-align: center;
    font-size: 7.5rem;
    color:orange;
    margin-top: -10px;
}

.home-headerlight {
    text-align: center;
    font-size: 3.5rem;
    color: brown;
    margin-top: -30px;
}

.logo {
    width: 18rem;
    padding-bottom: 15px;
}